html{
  height: 100%;
}

body{
  min-height: 100%;
  display: -webkit-flex;
  background: rgb(30,30,30);
}

#editor{
 width: 100%;
  min-height: 100%;
  background: rgb(30,30,30);
}

#editor2{
  width: 100%;
   min-height: 100%;
   background: rgb(30,30,30);
 }
 









