

@font-face{font-family:'Proxima Nova';font-style:normal;font-weight:100;src:url("../fonts/proxima/2B04A9_A_0.eot");src:url("../fonts/proxima/2B04A9_A_0-.eot#iefix") format("embedded-opentype"),url("../fonts/proxima/2B04A9_A_0.woff") format("woff"),url("../fonts/proxima/2B04A9_A_0.ttf") format("truetype")}
@font-face{font-family:'Proxima Nova';font-style:normal;font-weight:200;src:url("../fonts/proxima/2B04A9_B_0.eot");src:url("../fonts/proxima/2B04A9_B_0-.eot#iefix") format("embedded-opentype"),url("../fonts/proxima/2B04A9_B_0.woff") format("woff"),url("../fonts/proxima/2B04A9_B_0.ttf") format("truetype")}
@font-face{font-family:'Proxima Nova';font-style:normal;font-weight:400;src:url("../fonts/proxima/2B04A9_E_0.eot");src:url("../fonts/proxima/2B04A9_E_0-.eot#iefix") format("embedded-opentype"),url("../fonts/proxima/2B04A9_E_0.woff") format("woff"),url("../fonts/proxima/2B04A9_E_0.ttf") format("truetype")}
@font-face{font-family:'Proxima Nova';font-style:italic;font-weight:400;src:url("../fonts/proxima/2B04A9_C_0.eot");src:url("../fonts/proxima/2B04A9_C_0-.eot#iefix") format("embedded-opentype"),url("../fonts/proxima/2B04A9_C_0.woff") format("woff"),url("../fonts/proxima/2B04A9_C_0.ttf") format("truetype")}
@font-face{font-family:'Proxima Nova';font-style:normal;font-weight:700;src:url("../fonts/proxima/2B04A9_D_0.eot");src:url("../fonts/proxima/2B04A9_D_0-.eot#iefix") format("embedded-opentype"),url("../fonts/proxima/2B04A9_D_0.woff") format("woff"),url("../fonts/proxima/2B04A9_D_0.ttf") format("truetype")}

body {
	color: #B2BED6;
	font-family:'Proxima Nova', sans-serif;
	font-size:13px;
	line-height: 1.6;
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

body {
  background: #300172;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#info, #stats {
	display:none;
}



#logo {
	font: normal 100 54px/150% 'Proxima Nova', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2rem;
	margin-left:1rem;
	color:#fff;
	position: absolute;
	position: fixed;
	z-index: 1;
	pointer-events: none;
	transition: opacity 2s ease 1s;
	opacity:1;
}

#logo.pushed {
	opacity:0;
	transition: opacity 1s ease;
}

a {
	color: #ffffff;
}

#i1, #i2 { margin-top: 0.5em }

#loading { 
	font-weight: bold; 
	background: #a0a; 
	color: #fff; 
	padding: 0.25em 1em; 
	position: absolute; 
	top: 0px; 
	right: 0px; 
	z-index: 200; 
	display:none;
}

#wrapper {
	overflow: hidden;
	width:100vw;
	height: 100vh;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

#container {
	overflow: hidden;
	width:100vw;
	height: 100vh;
}

section {
	background: #fff;
	position: relative;
	padding:130px 0;
	display: flex;
  	align-items: center;
  	justify-content: center;

}

.container {
	display: flex;
    flex-direction: row;
}

.container.small {
	max-width: 900px;
}

.col-2 * {
	padding:0 20px;
	flex: 1;
}


@media only screen and (max-width: 768px) {
	#logo {
		font: normal 100 40px/100% 'Proxima Nova', sans-serif;
		letter-spacing: 1rem;
		margin-left:.5rem;
	}

}




.sphere-overlay {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background: rgba(0,0,0,.4);
  z-index: 1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#954aa2+0,e59a69+100 */
background: #954aa2; /* Old browsers */
background: -moz-linear-gradient(45deg, #954aa2 0%, #e59a69 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #954aa2 0%,#e59a69 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #954aa2 0%,#e59a69 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#954aa2', endColorstr='#e59a69',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
opacity: .8
}


.content-overlay {
    position:absolute;
    -webkit-font-smoothing: antialiased;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,.6);
    color:#fff;
    font-weight: 300;
    line-height: 2;
    font-size:1.2em;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    overflow:hidden;
    z-index: 2;
    pointer-events: none;
    display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: row;

}

.content-container {
	width:80%; 
	max-width:450px; 
	margin:0 auto;
}

.bg-overlay {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  -webkit-transition: all 1s 0s cubic-bezier(0.645, 0.045, 0, 1.000);  
            transition: all 1s 0s cubic-bezier(0.645, 0.045, 0, 1.000);
  opacity:0;
  pointer-events: none;
  z-index: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-overlay {
    -webkit-transform: scale(.8);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: scale(.8);  /* IE 9 */
            transform: scale(.8);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 1s 0s cubic-bezier(0.645, 0.045, 0, 1.000);  
            transition: all 1s 0s cubic-bezier(0.645, 0.045, 0, 1.000);
    opacity:0;
}

.content-container h1,.content-container p {
    -webkit-transform: translateY(50px);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(50px);  /* IE 9 */
            transform: translateY(50px);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 1.2s .8s cubic-bezier(0, 0.1, 0, 1.000);  
            transition: all 1.2s .8s cubic-bezier(0, 0.1, 0, 1.000);
    opacity:0;
}

.content-container p {
    -webkit-transition: all 1.3s .9s cubic-bezier(0, 0.1, 0, 1.000);  
            transition: all 1.3s .9s cubic-bezier(0, 0.1, 0, 1.000);
}

.content-container p:nth-child(3) {
    -webkit-transition: all 1.4s 1s cubic-bezier(0, 0.1, 0, 1.000);  
            transition: all 1.4s 1s cubic-bezier(0, 0.1, 0, 1.000);
}



.content-overlay.opened {
    -webkit-transform: scale(1);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: scale(1);  /* IE 9 */
            transform: scale(1);  /* Firefox 16+, IE 10+, Opera */

  opacity:1;
  pointer-events: inherit;
  
}

.content-overlay.opened .content-container p,.content-overlay.opened .content-container h1 {
    -webkit-transform: translateY(0px);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(0px);  /* IE 9 */
            transform: translateY(0px);  /* Firefox 16+, IE 10+, Opera */
    opacity:1;
}

.bg-overlay.opened {
  opacity:1;
} 



/* ========== MENU EFFECT ========== */

.o-grid__item {
	position:absolute;left:40px; z-index: 3;
	top:50%; margin-top:-50px;
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 76px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 2px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::after {
	width:50%;
}

.c-hamburger span::before {
  top: -12px;
}

.c-hamburger span::after {
  bottom: -12px;
}

.c-hamburger--htla {
    background:none;
}

.c-hamburger--htla span {
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.c-hamburger--htla span::before {
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
          transition: transform 0.3s, width 0.3s, top 0.3s;
}

.c-hamburger--htla span::after {
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, bottom 0.3s;
          transition: transform 0.3s, width 0.3s, bottom 0.3s;
}

/* active state, i.e. menu open */
.c-hamburger--htla.is-active {

}

.c-hamburger--htla.is-active span {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.c-hamburger--htla.is-active span::before,
.c-hamburger--htla.is-active span::after {
  width: 50%;
}

.c-hamburger--htla.is-active span::before {
  top: 0;
  -webkit-transform: translateX(23px) translateY(1px) rotate(45deg);
      -ms-transform: translateX(23px) translateY(1px) rotate(45deg);
          transform: translateX(23px) translateY(1px) rotate(45deg);
}

.c-hamburger--htla.is-active span::after {
  bottom: 0;
  -webkit-transform: translateX(23px) translateY(-1px) rotate(-45deg);
      -ms-transform: translateX(23px) translateY(-1px) rotate(-45deg);
          transform: translateX(23px) translateY(-1px) rotate(-45deg);
}





/* ========== ANIMATIONS ========== */

.text-container {
  width:80%; 
  max-width:450px; 
  margin:0 auto;
}

.splited-line {
    display: block;
    overflow: hidden;
    -webkit-transform: translate3d(0, 16px, 0);
    transform: translate3d(0, 16px, 0);
    -webkit-transition: opacity 1.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity 1.5s cubic-bezier(0.19, 1, 0.22, 1), transform 1.5s cubic-bezier(0.19, 1, 0.22, 1)
}
.splited-line__wrapper {
    display: block;
    -webkit-transform: translate3d(0, 64px, 0);
    transform: translate3d(0, 64px, 0);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1)
}
.splited-line:nth-child(1) .splited-line__wrapper {
    -webkit-transition-delay: .8s;
    transition-delay: .8s
}
.splited-line:nth-child(2) .splited-line__wrapper {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s
}
.splited-line:nth-child(3) .splited-line__wrapper {
    -webkit-transition-delay: 1s;
    transition-delay: 1s
}
.splited-line:nth-child(4) .splited-line__wrapper {
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s
}
.section.active .splited-line,
.show .splited-line {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.section.active .splited-line .splited-line__wrapper,
.show .splited-line .splited-line__wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.section:not(.active) .splited-line {
    opacity: 0
}
.section:not(.active) .splited-line .splited-line__wrapper {
    -webkit-transform: translate3d(0, 64px, 0);
    transform: translate3d(0, 64px, 0);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s
}
.no-transition .splited-line {
    -webkit-transition: none;
    transition: none
}
.no-transition .splited-line__wrapper {
    -webkit-transition: none;
    transition: none
}


.section p, .section .btn {
  -webkit-transition: opacity 1.5s 0s cubic-bezier(0.19, 1, 0.22, 1), 
  -webkit-transform 1.5s 0s cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity 1.5s 0s cubic-bezier(0.19, 1, 0.22, 1), 
    transform 1.5s 0s cubic-bezier(0.19, 1, 0.22, 1);
}

.section:not(.active) p, .section:not(.active) .btn {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
    
}

.section.active p {
    -webkit-transition-delay: 1s;
    transition-delay: 1s
}

 .section.active .btn {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s
}

.section.active p, .section.active .btn {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.section .line::before {
    position: absolute;
    top: -30px;
    left: -100px;
    height: 1px;
    opacity:0;
    width: 180px;
    display: block;
    content: '';
    background-color: #fff;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: translate3d(10px, 0, 0) scale(0, 1);
    transform: translate3d(10px, 0, 0) scale(0, 1);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition-delay: 1.8s;
    transition-delay: 1.8s
    
}

.section:not(.active) .line::before {
  -webkit-transition-delay: 0s;
    transition-delay: 0s
}

.section.active .line::before {
  -webkit-transform: translate3d(0, 0, 0) scale(1, 1) ;
  transform: translate3d(0, 0, 0) scale(1, 1) 
}


.section-tagline.dark h2,.section-tagline.dark p {
  color:#000;
}

.section-tagline.dark h1 span {
  color:rgba(0,0,0,.3);
}
.section-tagline.dark h1::before {
  background-color: rgba(0,0,0,.1);
}

.section h1 {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2rem;
  margin-bottom: 1.1857rem;
  padding-top: 0.8143rem;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.section h2 {
  font-size:3.5rem;
  line-height: 1;
}

.section h1 span {
  font-weight: 400;
  display: inline-block;
  opacity: 0;
  color: rgba(255,255,255,.5);
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
  -webkit-transition: opacity 2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 2s cubic-bezier(0.19, 1, 0.22, 1), transform 4s cubic-bezier(0.19, 1, 0.22, 1);
}

.section.active h1 span strong {
  color:#fff;
  font-weight: 600;
}


.section h1::before {
  position: absolute;
  top: 24px;
  left: -204px;
  height: 1px;
  width: 180px;
  display: block;
  content: '';
  background-color: rgba(255,255,255,.1);
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: translate3d(10px, 0, 0) scale(0, 1);
  transform: translate3d(10px, 0, 0) scale(0, 1);
  -webkit-transition: -webkit-transform 3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 3s cubic-bezier(0.19, 1, 0.22, 1);

}

.section.active h1 span {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}


.section.active h1::before {
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}


a.join {
  position: fixed;
  bottom:40px;
  right:60px;
  z-index: 99;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  opacity: 0;
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
  -webkit-transition: all 3s cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
}

.credit {
  position: fixed;
  bottom:40px;
  left:60px;
  z-index: 99;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  font-size: 10px;
  opacity: 0;
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
  -webkit-transition: all 3s cubic-bezier(0.19, 1, 0.22, 1) 2s;
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1) 2s;
  color:rgba(255,255,255,.6);
}

.credit a {
  color: #fff;
  text-decoration: none;
}

.content-overlay.opened a.join {
  opacity: 1;
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
}

.content-overlay.opened .credit {
  opacity: 1;
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
}

/* ========== FULLPAGE ========== */


/*!
 * fullPage 2.9.5
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: hidden;
    position: relative;
}
.fp-scroller{
    overflow: hidden;
}
.iScrollIndicator{
    border: 0 !important;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: opacity 0.5s ease-in-out .3s;
    -moz-transition: opacity 0.5s ease-in-out .3s;
    -o-transition: opacity 0.5s ease-in-out .3s;
    transition: opacity 0.5s ease-in-out .3s;
}
#fp-nav.active {
  opacity: 1;
}
#fp-nav ul {
  margin:0;
  padding:0
}

#fp-nav ul li {
  display:block;
  width:14px;
  height:13px;
  margin:24px 7px;
  position:relative
}

#fp-nav ul li a {
  display:block;
  position:relative;
  z-index:1;
  cursor:pointer;
  text-decoration:none;
  font-size:0;
  line-height:0;
  padding:5px 0;
  width:auto;
  height:20px;
  width:30px
}

#fp-nav ul li a svg {
  position:absolute;
  top:0px;
  left:0;
  -webkit-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  transform:rotate(-90deg)
}

#fp-nav ul li a svg circle,
.fp-slidesNav ul li a svg circle {
    fill: transparent;
    stroke: #fff;
    stroke-width: 1.5;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    -webkit-transition: stroke-dasharray 0s ease .3s, opacity .3s ease;
    -o-transition: stroke-dasharray 0s ease .3s, opacity .3s ease;
    transition: stroke-dasharray 0s ease .3s, opacity .3s ease;
    opacity: 0
}
#fp-nav ul li a.active svg circle,
#fp-nav ul li a:hover svg circle,
.fp-slidesNav ul li a.active svg circle,
.fp-slidesNav ul li a:hover svg circle {
    -webkit-transition: stroke-dasharray .6s ease, opacity 0s ease;
    -o-transition: stroke-dasharray .6s ease, opacity 0s ease;
    transition: stroke-dasharray .6s ease, opacity 0s ease;
    stroke-dasharray: 585;
    opacity: 1
}

#fp-nav ul li a span {
  border-radius:50%;
  position:absolute;
  z-index:1;
  border:0;
  background:rgba(255,255,255,.15);
  left:50%;
  top:50%;
  width:6px;
  height:6px;
  margin:-3px 0 0 -3px;
  -webkit-transition:all .1s ease-in-out;
  -o-transition:all .1s ease-in-out;
  transition:all .1s ease-in-out
}

#fp-nav {
  position:fixed;
  z-index:9999999;
  margin-top:-36px;
  top:50%;
  
}

#fp-nav.right {
  right:37px
}

#fp-nav ul li {
  width:auto;
  height:auto;
  margin:0;
  padding:0
}

#fp-nav ul li .fp-tooltip {
  position:absolute;
  top:-2px;
  color:#fff;
  font-size:14px;
  white-space:nowrap;
  max-width:220px;
  overflow:hidden;
  display:block;
  width:auto;
  -webkit-transition:all .25s ease!important;
  -o-transition:all .25s ease!important;
  transition:all .25s ease!important;
  visibility:hidden;
  opacity:0
}

#fp-nav ul li .fp-tooltip.right {
  padding-right:20px;
  top:8px;
  right:20px
}

#fp-nav:hover ul li .fp-tooltip {
  opacity:.5;
  visibility:visible
}

#fp-nav:hover ul li:hover .fp-tooltip {
  opacity:1
}

#fp-nav:hover span {
  background:rgba(255,255,255,.35);
}

#fp-nav ul li a.active span,#fp-nav ul li a:hover span,#fp-nav ul li:hover a.active span {
  background:#fff;
  -webkit-transition:all .25s ease-in-out;
  -o-transition:all .25s ease-in-out;
  transition:all .25s ease-in-out
}


/* ========== RESPONSIVE ========== */


@media only screen and (max-width: 768px) {
  .o-grid__item {top: 0; left: 10px; margin-top:0;}
  .content-overlay {font-size: 1em;}
  #fp-nav, .section h1  {display: none;}
  .section h2 {font-size: 2.3rem}
  .credit {bottom:20px;}
  .content-overlay a.join {bottom:auto; top:40px;}

}
